<mat-nav-list>
    <a mat-list-item (click)="openLink($event)" routerLink="/feed">
      <span mat-line>New Post</span>
      <span mat-line>Share your thoughts</span>
    </a>

    <hr>

    <a mat-list-item (click)="openLink($event)">
      <span mat-line>New Meal</span>
      <span mat-line>Build a meal from your foods</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>New Food</span>
      <span mat-line>Add a new food to your saved foods</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)" routerLink="/add/recipe">
      <span mat-line>New Recipe</span>
      <span mat-line>Add a new recipe to your book</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)" routerLink="/add/ingredient">
      <span mat-line>New Ingredient</span>
      <span mat-line>Add new ingredients to your pantry</span>
    </a>

    <!-- Replace final mat-list spacing with CSS in future -->
    <a mat-list-item>
        <span mat-line>&nbsp;</span>
        <span mat-line>&nbsp;</span>
    </a>
</mat-nav-list>