::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    padding-left:5px!important;
    margin:0px!important;
}

.mat-card-image {
    max-height: 100%;
}

.mat-card-title {
    font-size: 18px;
    margin: 0;
}