::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    padding-left:5px!important;
    margin:0px!important;
    background-color: rgb(255, 255, 255);
}

.mat-card-image {
    max-height: 100%;
}

.mat-card-title {
    font-size: 18px;
    margin: 0;
}

.tabs {
    margin-top: -3px;
}

.material-icons {
    font-size: 18px;
    vertical-align: text-top;
}

.nowrap {
    white-space: nowrap;
  }