<nav class="navbar fixed-top navbar-light bg-danger">
    <ul class="navbar-nav ml-auto flex-row nav-fill w-100">

        <li class="nav-item">
            <a class="nav-link" href="#">
                <mat-icon class="icon" matBadge="8" matBadgePosition="before" matBadgeColor="primary">article</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <mat-icon class="icon">whatshot</mat-icon>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#">
                <mat-icon class="icon-active">bento</mat-icon>
            </a>
        </li>
    </ul>
</nav>