<div class="container">
    <br>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="text-center mx-auto">
          

          <div class="row">
            <div class="text-center col-8 mx-auto">
                <label>
                    <div *ngIf="currentImage">
                        <img src="{{currentImage}}" class="img-fluid border border-dark" alt="Ingredient">
                    </div>
                    <div *ngIf="!currentImage">
                        <img src="../../assets/no_image.png" class="img-fluid border border-dark" alt="Ingredient">
                    </div>
                    <input #imageInput
                        type="file"
                        accept="image/*"
                        (change)="processFile(imageInput)"
                        [hidden]="true">  
                    </label>
                </div>  
            </div>


        

            <br>
            <p class="h4">Add Recipe</p>
        </div>


       

        <mat-card>
            <p class="h6">Basic Information</p>

        <mat-form-field class="col-12">
            <mat-label>Recipe Name</mat-label>
            <input formControlName="name" matInput placeholder="Ex. Cinnamon Rolls">
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Cuisine Type(s)</mat-label>
            <mat-select formControlName="cuisine" required>
              <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine">
                {{cuisine}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-6">
            <mat-label>Prep Time</mat-label>
            <input formControlName="prepTime" matInput placeholder="Ex. 2.4">
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Prep Time</mat-label>
            <mat-select formControlName="prepTimeUnits" required>
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

        <mat-form-field class="col-6">
            <mat-label>Cook Time</mat-label>
            <input formControlName="cookTime" matInput placeholder="Ex. 2.4">
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Cook Time</mat-label>
            <mat-select formControlName="cookTimeUnits" required>
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-6">
            <mat-label>Temp</mat-label>
            <input formControlName="temp" matInput placeholder="Ex. 2.4">
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Degrees</mat-label>
            <mat-select formControlName="tempUnits" required>
              <mat-option *ngFor="let temp of temps" [value]="temp">
                {{temp}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Yield</mat-label>
            <input formControlName="yield" matInput placeholder="Ex. 12 Rolls">
          </mat-form-field>


        </mat-card>

     

        <br>

            <div class="row">
               <div class="col-12">




             
                  <mat-accordion>
                      <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <p class="h6">Ingredients:</p>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        

                        
                        <ng-container formArrayName="ingredients">
                          <ng-container *ngFor="let ingredientForm of ingredients.controls; let i = index">
                          <div [formGroupName]="i">

                        <div class="row">

                         
                    
                        <mat-form-field class="col-5">
                          <mat-label>Ingredient</mat-label>
                          <mat-select formControlName="ingredientName{{i}}" required>
                            <mat-option *ngFor="let ingredient of userIngredients" [value]="ingredient">
                              {{ingredient.ingredientName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                
                        <mat-form-field class="col-4">
                          <mat-label>Unit</mat-label>
                          <mat-select formControlName="ingredientUnit{{i}}" required>
                            <mat-option *ngFor="let unit of units" [value]="unit">
                              {{unit}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field class="col-3">
                          <mat-label>Qty</mat-label>
                          <input formControlName="ingredientQty{{i}}" matInput placeholder="Ex. 2.4">
                        </mat-form-field>

            
                          

                      </div>

                      

                      </div>
                    </ng-container>
                  </ng-container>


                      <mat-divider></mat-divider>

                      <br>
                      <button class="float-right" mat-raised-button color="primary" [disabled]="numOfIngredients > 9" (click)="addNewComponent()">New Ingredient</button>
                      <br><br>


                      </mat-expansion-panel>
                  </mat-accordion>

                  <br>


                
<mat-card>
    <p class="h6">Steps</p>

    <mat-list role="list">
        <mat-form-field class="col-12">
          <mat-label>Step 1</mat-label>
          <input formControlName="step" matInput placeholder="Ex. 12 Rolls">
        </mat-form-field>

        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>

</mat-card>
 

<br>

<!-- 
<mat-card>
    <p class="h6">Additional Information</p>

    <mat-form-field class="col-12">
        <mat-label>Equipment required</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Notes</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>



      <mat-form-field class="col-12">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
        
  
 

</mat-card>
-->

<br>




      


                <br>
                <button class="float-right" mat-raised-button color="primary">Save Recipe</button>
                <br><br>


               </div>
            </div>


             </form>
           
</div>