<div class="main container">
    <div class="row">
        <div class="text-center col-8 mx-auto">
            <img src="../../assets/no_image.jpg" class="rounded-circle img-fluid border border-dark" alt="{{user.displayName}}'s User Image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            
                <mat-card>
                    <form [formGroup]="editUser" (ngSubmit)="editDisplayName()">
                        <div *ngIf="!currentlyEditingDisplayName; else EditDisplayName">
                            <h1 class="display-4">{{user.displayName}}
                                <button *ngIf="currentUserIsProfileUser()" class="edit-save" mat-icon-button (click)="editingDisplayName(true)" title="Update Display Name">
                                    <mat-icon>mode_edit</mat-icon>
                                </button>
                            </h1>  
                        </div>
                        <ng-template #EditDisplayName>
                            <mat-form-field class="w-80">
                                <mat-label>Display Name</mat-label>
                                <input formControlName="displayName" matInput required>
                            </mat-form-field>
                            <button class="float-right edit-save" mat-icon-button title="Update Display Name">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button class="float-right edit-save" mat-icon-button (click)="editingDisplayName(false)" title="Update Display Name">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </form>
                    
                    <form [formGroup]="editUser" (ngSubmit)="editTagLine()">
                        <div *ngIf="!currentlyEditingTagLine; else EditTagLine">
                            <p class="lead">"{{user.tagLine}}"
                                <button *ngIf="currentUserIsProfileUser()" class="edit-save" mat-icon-button (click)="editingTagLine(true)" title="Update Tag Line">
                                    <mat-icon>mode_edit</mat-icon>
                                </button>
                            </p>
                        </div>
                        <ng-template #EditTagLine>
                            <mat-form-field class="w-80">
                                <mat-label>Tag Line</mat-label>
                                <input formControlName="tagLine" matInput required>
                            </mat-form-field>
                            <button class="float-right edit-save" mat-icon-button title="Update Tag Line">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button class="float-right edit-save" mat-icon-button (click)="editingTagLine(false)" title="Update Tag Line">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </form>

                    <div *ngIf="currentUserIsProfileUser()"> 
                        <button mat-raised-button color="accent" disabled><mat-icon>manage_accounts</mat-icon>Account</button>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="logout();"><mat-icon>logout</mat-icon>Log Out</button>
                    </div>

                    <div *ngIf="!currentUserIsProfileUser()"> 
                        <div>
                            <button mat-raised-button color="primary" disabled>Follow</button>
                            &nbsp;
                            <button mat-raised-button color="accent" disabled>Message</button>
                            &nbsp;
                            <button mat-raised-button color="warn" disabled>Report</button>
                        </div>
                     </div>

                   
                    <br>
                    <small>Last seen: {{user.lastLogin | date: 'MM/dd/yyyy'}}.</small>
                </mat-card>
        </div>
    </div>

    <div class="content">
            <mat-card>
                <h3>About {{user.displayName}}:</h3>
                <form [formGroup]="editUser" (ngSubmit)="editBiography()">
                    <div *ngIf="!currentlyEditingBiography; else EditBiography">
                        <p class="lead">{{user.biography}}
                            <button *ngIf="currentUserIsProfileUser()" class="edit-save" mat-icon-button (click)="editingBiography(true)" title="Update Tag Line">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </p>
                    </div>
                    <ng-template #EditBiography>
                        <mat-form-field class="w-100">
                            <mat-label>Biography</mat-label>
                            <textarea matInput formControlName="biography" required></textarea>
                        </mat-form-field>
                        <button class="float-right edit-save" mat-icon-button title="Update Biography">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button class="float-right edit-save" mat-icon-button (click)="editingBiography(false)" title="Update Biography">
                            <mat-icon>clear</mat-icon>
                        </button><br><br><br>
                    </ng-template>
                </form>
        </mat-card>
    </div>
</div>
<br>