
    <div class="main container">
        <div class="row">
            <div class="col-8 mx-auto">
                <img src="../../assets/Travis.jpg" class="rounded-circle img-fluid border border-dark" alt="Travis Woodward">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <mat-card>
                    <h1 class="display-4">Travis Woodward</h1>
                    <smalL>
                        <p class="lead">"Just a pitmaster with a passion for BBQ."</p>
                    </smalL>
                    <div>
                        <button mat-raised-button color="primary">Follow</button>
                        &nbsp;
                        <button mat-raised-button color="accent">Message</button>
                        &nbsp;
                        <button mat-raised-button color="warn">Report</button>
                    </div>
                    <br>
                    <small>Member since: January 15th, 2021.</small>
                </mat-card>
            </div>
        </div>

        <div class="content">

                <mat-card>
    
                    Stuff here
    
                </mat-card>

        </div>

    </div>

  