<div class="container">
    <br>
    <div class="text-center mx-auto">
        <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="text-center col-8 mx-auto">
                    <label>
                        <div *ngIf="currentImage">
                            <img src="{{currentImage}}" class="img-fluid border border-dark" alt="Ingredient">
                        </div>
                        <div *ngIf="!currentImage">
                            <img src="../../assets/no_image.png" class="img-fluid border border-dark" alt="Ingredient">
                        </div>
                        <input #imageInput
                            type="file"
                            accept="image/*"
                            (change)="processFile(imageInput)"
                            [hidden]="true">  
                        </label>
                    </div>  
                </div>

             <br>
             <p class="h4">Add Ingredient</p>

            <div class="row">
                <mat-form-field class="col-12">
                    <mat-label>Name</mat-label>
                    <input formControlName="ingredientName" matInput required>
                </mat-form-field>
            </div>

            <div class="row">

                <mat-form-field class="col-4">
                    <mat-label>Quantity</mat-label>
                    <input formControlName="quantity" placeholder="25" matInput>
                </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="unit" required>
                      <mat-option *ngFor="let unit of units" [value]="unit">
                        {{unit}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>Warning Qty</mat-label>
                    <input formControlName="warningLow" placeholder="5" matInput>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-12">
                    <mat-label>Notes</mat-label>
                    <textarea  formControlName="note" matInput placeholder="Ex. My favorite ingredient from the local farmer's market!"></textarea>
                </mat-form-field>
            </div>

            <button class="float-right" mat-raised-button color="primary">Add</button>
            <br><br>

        </form>
        
    </div>
</div>