.background {
    width: 100%;
    height: 100vh;
    background: url('../../assets/pexels-photo-5832735.jpeg') no-repeat;
    background-size: cover;
    background-position: 33%;
   // -webkit-filter: brightness(40%);
   // filter:brightness(40%);
 }

 .mat-card {
     margin-top: 15%;
 }